@import url(./form.css);
@import url(./nav.css);
@import url(./welcome.css);

:root {
    --text-color: rgb(28, 28, 110);
    --error-color: rgb(219, 5, 5);
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: roboto, sans-serif;
    text-decoration: none;
}

body {
    background-color: #1f1f1f;
}
